body{
  background-color: rgb(227, 226, 145);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.head{
  background-color: #24dbd4;
  color:#07579d;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-radius: 20px;
  
}
.shop i{
  color: #000000;

}
.shop {
  margin-top: 20px;
  background-color: #24dbd4;
  margin-bottom: 20px;
  display: inline-flex;
  flex-wrap: wrap;
  border-radius: 10px;
  padding: 12px 20px;
}
.shop :hover{
  color: red;
  transform: scale(1.2);

}
.cars_main{
  border-radius: 5px;
  width: 400px;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 253, 253);
  padding: 20px;
  gap: 10px;    
}
.Avatar{
  width: 100%;
  max-width: 350px;        
  height: auto;            
  border-radius: 5px;
  object-fit: cover;       
  display: block;
  margin: 20px auto 0
}
.image{
  width: 400px;
  border-radius: 50%;
  }
  .TD{
    margin-top: 5px;
    margin-left: 20px;
  }
  .stars i {
  color: #f7b500; 
  margin-right: 2px;
}
.nn i{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-left: 20px;        
  
}
.nn div {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding: 8px 12px;
  border-radius: 12px;
  background-color: rgb(124, 175, 196);
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}
p{
  margin-top: 20px;
  font-size: 15px;

  font-family: system-ui;
}
.tt i {
  color: #f7b500; 
  margin-right: 2px;
}
.f{
  padding: 10px;
  background-color: gray;
  margin-top: 20px;
  width: 100px;
  border-radius: 50%;
}
.social-icons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.social-icons a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding: 8px 12px;
  border-radius: 12px;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}
.social-icons a i {
  font-size: 18px;
}
button{
  border-radius: 5px;
  padding: 10px 20px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.bnt:hover{
  color: red;
  transform: scale(1.1);
  background-color: #a9d197;
}
.u1{
  margin-left: -10px;
}
.ss1 div{
  flex-wrap: wrap;
  margin-top: 5px;
  display:inline-flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 6px;
  padding: 8px 12px;
  border-radius: 12px;
  text-decoration: none;
  font-size: 14px;
  background-color: #dfd7cf;
  
}
.ss1 div i{
  background-color: #83b3c6;
  border-radius: 50%;
}
.a1{
  background-color: #339abc;
}
.a2{
  background-color: #0a75c1;
}
.a3{
  background-color: #bf14a5;
}
.pp i{
  color: #87d779;
  
}
.a1:hover{
  color: rgb(247, 247, 247);
  background-color: #29b7c4;
  transform: scale(1.2);
  margin-right: 10px;
}
.a2:hover{
  color: rgb(253, 254, 254);
  background-color: #318ec1;
  transform: scale(1.2);
  margin-right: 10px;
}
.a3:hover{
  color: rgb(250, 241, 241);
  background-color: #c342d6;
  transform: scale(1.2);
  margin-right: 10px;
}
.dc{
  width: 100px;
  height: auto; 
  object-fit: cover;
  border-radius: 10px;
}
.ngoai i{
  font-weight: bold;
}
.ngoai{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px
}
 .ngoai span{
  margin-left: 150px;

}