.header{
    background-color: #9d7171;
    display: flex;
    flex-direction:  column;
    justify-content: space-between;
    width: 100%;
    height: auto;
    position: sticky;
    top: 0%;
}
.d1 {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
     position: sticky;
}
.d11{
    text-decoration: none;
    font-size: 20px;
    display: flex;
    gap: 40px;
}
.b1{
    font-size: 28px;
    font-weight: bold;
    color: white;
    margin-right: 300px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.d12{
    font-size: 24px;
    gap :20px;
    margin-left: 300px;
}
.d12 button{
    margin-left: 20px;
    border-radius: 20px;
    font-size: 20px;
}
.d12 button:hover{
    background-color: #f24e4e;
    cursor: pointer;
    transform: calc(0.12);
}
.d2{
    background-image: url("coffee_image.png");
    display: flex;
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
}
.main{
    width: 100%;
    
}
.d21{
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 400px;
    font-size: 30px;
    margin-left: 50px;
    color: white;
    gap: 30px
}
.d21 button{
    margin-top: 20px;
    border-radius: 20px;
    font-size: 24px;
    color: black;
    background-color: rgb(226, 180, 52);
}
.d3 h2{
    color: rgb(115, 76, 76);
}
.d3{
    width: 1300px;
    margin-left: 120px;
    display: flex;
    flex-direction: row;
    height: 500px;

}
.pd3{
    margin-top: 100px;
    font-size: 40px;
    font-weight: bold;
    color: rgb(113, 82, 82);
    /* background-color: #f24e4e; */
    display: flex;
    gap: 80px;
}
.pd33{
    font-size: 20px;
    font-family: initial;
}
.d31{
    width: 500px;
    margin-left: 120px;
    margin-right: 100px;

}
.d32{
    width: 600px;
    background-color: aqua;
}
.d31 button{
    border-radius: 30px;
    font-size: 20px;
    color: black;
    background-color: rgb(255, 238, 110);
    padding: 10px;
    margin-top: 30px;
}
.d32{
    background-image: url("content2.png");
    width: 500px;
    margin-left: 100px;
}
.d4{
    width: 500px;
    height: 250px;
    background-image: url("coffee_blast.png");
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
}
.d5{
    margin-top: 30px;
    margin-left: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 1300px;
}
.d5 h2{
    color: rgb(115, 76, 76);
    font-size: 60px;
    margin-bottom: 20px;
}
.d5 p{
    font-size: 24px;
    width: 800px;
    height: auto;
    text-align: center;
}
.d6{
    display: flex;
    flex-direction: row;
    width: 1300px;
    margin-left: 200px;
    height: 300px;
    
    
}
.d61{
    width: 260px;
    display: flex;
    flex-wrap: nowrap;
    gap : 30px;
     background-color: rgb(231, 204, 204);
    margin-left: 30px;
}
.d62{
    width: 280px;
    display: flex;
    flex-wrap: nowrap;
    gap : 30px;
    background-color: rgb(231, 204, 204);
    flex-direction: space-around;
    margin-left: 40px;
    
}
.d63{
    width: 260px;
    display: flex;
    flex-wrap: nowrap;
    gap : 30px;
     background-color: rgb(231, 204, 204);
    margin-left: 40px;
}
.d61{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}
.d611{
    width: 40px;
    height: 50px;
    margin-top: 20px;
   margin-left: 50px;
}
.pd6{
    font-size: 30px;
    color: rgb(116, 77, 77);
    margin-left: 40px;
}

.pdd6{
    width: 150px;
    margin-left: 40px;
    font-size: 16px;
    margin-bottom: 20px;
}
.d62{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
     background-color: rgb(231, 204, 204);
}
.d63{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
     background-color: rgb(231, 204, 204);
}
.d7{
    width: 1300px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column  ;
}
.pd71{
    margin-top: 50px;
    font-size: 20px;
}
.d7 button{
    margin-top: 20px;
    width: 120px;
    height: 40px;
    font-size: 20px;
    border-radius: 20px;
    color: rgb(0, 0, 0);
    background-color: rgb(251, 255, 26);
}