body {
  font-family: Arial, sans-serif;
  background-color: #628ecb;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: #b8cfec;
  padding: 40px;
  border-radius: 20px;
  width: 400px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
  
}

label {
  margin-bottom: 10px;
}

input {
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
    margin-top: 15px;
  padding: 10px;
  background-color: #3851b4;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

#studentList {
  margin-top: 20px;
  max-height: 200px;
  overflow-y: auto;
}

.student-item {
  background-color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.student-item span {
  font-weight: bold;
}
