ul li {
    color: blue;
}
ul li:not(:last-child) {
    color: red;
}
i{
    border-radius: 50%;
    padding: 10px;
     font-size: 24px;
      margin: 0 10px;
    width: 60px;
    height: 30px;
    background-color: #8a2323;
    transition: background-color 0.3s ease, transform 0.3s ease;
      cursor: pointer;

}
body{
    background-color: #75c4cd;
}