 body{
            background-color: rgb(169, 208, 243);
            font-family: Arial, Helvetica, sans-serif;
            display:flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        .avatar{
            border-radius: 50%;
            width: 150px;
            height: 150px;
            margin: 40px auto; 
            display: block;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            background-color: #b7c9cb;
            border-top: 20px;
            
            
        }
        .avatar:hover{
            transform: scale(1.1);
            transition: transform 0.5s ease;
        }
        .d1:hover{
            transform: scale(1.05);
            transition: transform 0.5s ease;
        }
        .d1{
            background-color: #37dbea;
            width: 300px;
            height: 450px;
            padding: auto;
            text-align: center;
            border-radius: 30px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

        }
        .p1{
            font-size: 24px;
            font-weight: bold;
            margin-top: 15px;
            color: #dc2222;
        }
        .p2{
            font-size: 18px;
            color: #dfdc31;
            margin-top: 10px;
        }
        .p3{
            font-size: 14px;
            color: #000000;
            margin: 20px;
        }
        .icons i:hover {
      background-color: white;
      color: #37dbea;
      transform: scale(1.2);
    }
    .icons {
      margin-top: 20px;
    }
    .fa-brands fa-facebook{
        
    }

    .icons i {
      font-size: 24px;
      margin: 0 10px;
      color: white;
      background-color: rgba(255, 255, 255, 0.3);
      padding: 10px;
      border-radius: 50%;
      transition: background-color 0.3s ease, transform 0.3s ease;
      cursor: pointer;
    }
     button{
        border: 0%;
       padding: 0%;
       width: 0px;
       height: 0px;
       margin: 0%;
    }