
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: auto 1fr auto;
   grid-template-areas: 
    "header  header header"
    "sidebar1 main   sidebar2"
    "footer  footer footer";
  min-height: 100vh;
}
.header{
  grid-area: header;
  background-color: #4CAF50;
  color: white;
  text-align: center;
  padding: 10px;
  height: 150px;
  position: sticky;
  top: 0;
}
.main{
  grid-area: main;
  padding: 20px;
  background-color: rgb(234, 211, 98);
}
.ct{
  background-color: thistle;
  height: 1200px;
  overflow: auto;
}
.sidebar1{
    grid-area: sidebar1;
    background-color: #e3bcbc;
    padding: 20px;
    background-image: url("https://images.pexels.com/photos/3814446/pexels-photo-3814446.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}
.sidebar2{
  grid-area: sidebar2;
  background-color: #e3bcbc;
  padding: 20px;
  background-image: url("https://images.pexels.com/photos/3814446/pexels-photo-3814446.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}
.footer{
  grid-area: footer;
  background-color: #777;
  color: white;
  text-align: center;
  padding: 10px;
  height: 100px;
  position: sticky;
  bottom: 0;
}
.container button{
  padding: 10px;
  font-size: 16px;
  background-color: lightblue;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}
.container button:hover{
  opacity: 0;
  background-color: yellow;
  transition: opacity 0.3s linear;
  
}