button{
    background-color: rgb(116, 184, 211);
    font-size: 15px;
    border-radius: 5px;
    color: rgb(1, 1, 1);
}
button:hover{
    background-color: rgb(160, 198, 55);
    color: rgb(231, 39, 14);
    transform: scale(1.10);
}
div{
    background-color: rgb(126, 242, 230);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
    width: 600px;
    height: auto;
    
}
.o{
    margin-left: 20px;
}
.o1{
    
    padding-top: 10px;
    padding-left: 10px;
}
.avatar{
    width: 200px;
    height: 300px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
    background-color: aqua;
    text-align: center;
    border-radius: 10px;
   
}
.fba{
    background-color: rgb(206, 149, 63);
    width: 100px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    margin-left: 25%;
    margin-bottom: 10px;
}
.avata1{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.card{
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    color: aliceblue;
    justify-content: space-between;
    width: auto;
    height: auto;
    padding: 15px 50px;
}
.nav{
    background-color: black;
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    color: white;
    justify-content: center;
    border: 1px solid white;
    width: 300px;
    height: auto;
}
.h2{
    color: rgb(255, 251, 251);
}
.card a{
    color: white;
    text-decoration: none;
}
.card a:hover{
    color: rgb(255, 193, 7);
    text-decoration: underline;
    transform: scale(1.1);
}
